<div class="container">
    <div class="left-column">
        <div class="bio-container">
            <h1>About</h1>
      <p> Anthony Justice Gjelaj, is an actor, singer, dancer, performer, entertainer, comedian, and artist based out of New York City. Anthony has a BFA in Musical Theatre from West Virginia University. Anthony is represented by YOU management and is currently on contract with the Titusville Playhouse in Titusville, Florida. Anthony hopes that by seeing how cool of a “Vibe” his website has, you might as well consider hiring him in the future.
    </p>
    <p class="contact-info">Contact Information</p>
    <p>anthonyjgjelaj@gmail.com</p>
        </div>
    </div>
    <div class="middle-column">
      <!-- Content for middle column -->
      <img src="../../assets/Bette.PNG" alt="Your Photo">
    </div>
    <div class="right-column">
        <div class="quote-container">
            <div class="quote">
              <p class="quote-text">"Anthony is always a fan favorite, and he always brings it on stage. Or maybe we can say like comedic genius. Does that work?"</p>
              <p class="author">- Mom, Anthony's Mother</p>
            </div>
            <div class="quote">
              <p class="quote-text">"Anthony Gjelaj is a charasmatic young actor who never fails to make you smile."</p>
              <p class="author">- Christian Clausnitzer, Best Friend & Roommate</p>
            </div>
            <div class="quote">
                <p class="quote-text">"One time I forgot a pen. Anthony let me borrow his. That's just who he is."</p>
                <p class="author">- Riley Stauffer, Friend & Website Designer</p>
              </div>
            <!-- Add more quotes as needed -->
          </div>
          
    </div>
  </div>
