

<div class="container-flex bg">
  <div class="scrollable-content">
    <!-- Your content goes here -->
    <app-headshot></app-headshot>
    <app-name></app-name>
  </div>

</div>

  <div class="bottom-container">
    <app-columns></app-columns>

  </div>

<div class="lower-container">
  <app-jumbotron></app-jumbotron>
</div>

<div class="lower-lower-container">
  <div class="left-content">
    <img src="assets/anthonyhead.JPG" alt="Photo" class="photo">
  </div>
  <div class="right-content">
    <p>Professional Entertainer and Cool Guy</p>
    <h1>Anthony Gjelaj</h1>
    <a href="assets/GjelajResume.pdf" target="_blank">
      <button class="button" id="head">Resume</button>
    </a>
    <a href="assets/anthonygheadshot.jpg" target="_blank">
      <button class="button" id="head">Headshot</button>
    </a>
    <a href="https://drive.google.com/drive/folders/134tlhlAdtyMX5p75uittgeHGozpQ_V-f?usp=sharing" target="_blank">
      <button class="button" id="head">Photos</button>
    </a>
  
    <a href="https://www.youtube.com/watch?v=_MQkfR0R2WA" class="button">Voice Reel</a>
  </div>
</div>

